<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/home'">DogTrainer</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex">
        <a
          *ngIf="authenticated"
          class="nav-link"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          [routerLink]="'/training'"
          >Training</a
        >

        <a
          *ngIf="!authenticated"
          class="nav-link"
          data-bs-target="#navbarNavAltMarkup"
          data-bs-toggle="collapse"
          [routerLink]="'/authentication'"
          >Sign in</a
        >
        <a
          *ngIf="authenticated"
          class="nav-link"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          [routerLink]="'/pet-profile'"
          >Pet profile</a
        >

        <a
          *ngIf="authenticated"
          class="nav-link fake-anchor"
          data-bs-target="#navbarNavAltMarkup"
          data-bs-toggle="collapse"
          (click)="handleSignOut()"
          >Sign out</a
        >

        <a
          class="nav-link"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          [routerLink]="'/help'"
          >Help</a
        >
      </div>
    </div>
  </div>
</nav>
