<section class="center-container">
  <div class="content">
    <form [formGroup]="form">
      <div class="mb-3 row">
        <label for="petName" class="col-lg-2 col-md-12 col-form-label"
          >Pet name</label
        >
        <div class="col-lg-10 col-md-12">
          <input
            class="form-control"
            id="petName"
            placeholder="Shadow"
            formControlName="petName"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="petBreed" class="col-lg-2 col-md-12 col-form-label"
          >Pet breed</label
        >
        <div class="col-lg-10 col-md-12">
          <input
            class="form-control"
            id="petBreed"
            placeholder="German Shepherd Dog"
            formControlName="petBreed"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="petGender" class="col-lg-2 col-md-12 col-form-label"
          >Pet gender</label
        >
        <div class="col-lg-10 col-md-12">
          <select
            class="form-control"
            id="petGender"
            placeholder="Male"
            formControlName="petGender"
            name="cars"
            id="cars"
          >
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="petDOB" class="col-lg-2 col-md-12 col-form-label"
          >Pet's date of birth</label
        >
        <div class="col-lg-10 col-md-12">
          <input
            type="date"
            class="form-control"
            id="petDOB"
            placeholder="Male"
            formControlName="petDOB"
          />
        </div>
      </div>
    </form>

    <div class="mt-5">
      <div class="accordion" id="accordion-weights">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <h3>
                {{
                  this.form.value["petName"].trim()
                    ? this.form.value["petName"] + "'s weight"
                    : "Weight"
                }}
              </h3>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordion-weights"
          >
            <div class="accordion-body">
              <p>
                You can track your pet's weight here. Click on the add button
                and click on the table to add a date and weight. Click on save
                button to save the data. You can delete all weight data by
                clicking on the delete button.
              </p>
              <ag-grid-angular
                class="ag-theme-quartz table"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [suppressRowClickSelection]="true"
                (gridReady)="onGridReady($event)"
                [overlayLoadingTemplate]="loadingTemplate"
                [overlayNoRowsTemplate]="noRowsTemplate"
                [enableCellEditingOnBackspace]="true"
                [stopEditingWhenCellsLoseFocus]="true"
              >
              </ag-grid-angular>

              <div class="row">
                <div class="col-sm-6">
                  <button
                    type="button"
                    class="btn btn-primary btn-md"
                    (click)="handleAddWeights()"
                  >
                    Add weight data
                  </button>
                </div>
                <div class="col-sm-6">
                  <button
                    type="button"
                    class="btn btn-primary btn-md"
                    (click)="handleDeleteWeights()"
                  >
                    Delete weight data
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-primary btn-md"
        (click)="handleSavePetProfile()"
      >
        Save
      </button>
    </div>
  </div>
</section>
