/* button,
div {
  width: 10%;
} */
ul {
  width: 100%;
}

a,
button {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.data-area {
  padding: 2%;
  border: 2px solid #000000;
  border-radius: 5px;
}
