<section>
  <h3 *ngIf="todayIsBirthday">{{ getBirthdayMessage() }}</h3>
  <br />
  <p>
    Please select a course and then select a topic to proceed. You can
    optionally add your pet details
    <a class="link" [routerLink]="'/pet-profile'">here</a>. However, for
    simplicity,
    <span class="assumption"
      >this application assumes pet is a German Shepherd and his name is
      Shadow.</span
    >
    We are constantly adding new topics, so please bear with us. Thank you for
    your support.
  </p>
  <div class="row my-2">
    <div class="col-sm-6">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          data-bs-auto-close="true"
        >
          {{ selectACourse }}
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let course of courseName">
            <a class="dropdown-item" (click)="onCourseChange(course)">{{
              course
            }}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          data-bs-auto-close="true"
          [disabled]="topics.length === 0"
        >
          {{ selectATopic }}
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let topic of topics">
            <a class="dropdown-item" (click)="onTopicChange(topic)">{{
              sanitizeTopicName(topic)
            }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />

  <div [ngClass]="{ 'data-area': html.length !== 0 }" [innerHTML]="html"></div>
</section>
